body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 80px;
  height: 100vh;
  background-color: #490901;  
  transition: width 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.photo1{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-right: 50px;
  margin-left: 10px;
  object-fit: cover;
}

.profil{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  p{
    color: #ffffff;
  }
}
.sidebar:hover {
  width: 250px;
}

.sidebar img.logo {
  width: 80px;
  margin: 10px auto;
  display: block;
  margin-top: 80px;
}

.sidebar ul {
  list-style: none;
  padding: 10px;
}

.sidebar ul li {
  padding: 15px;
  display: flex;
  align-items: center;
  color: white;
}

.sidebar ul li .icon {
  font-size: 24px;
  color: white;
  display: inline-block;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.sidebar:hover ul li a {
  opacity: 1;
}

.sidebar ul li:hover {
  background-color: #1c252e;
}

.sidebar ul li.active {
  background-color: #741207; /* Couleur pour l'élément actif */
}

.sidebar ul li.active a {
  color: white;
}

.logout {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
/* Alignement du header en haut et du contenu à l'intérieur */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #490901; /* Ajuste selon tes préférences */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* Ajuste selon tes préférences */
  z-index: 1000; /* S'assure que le header soit au-dessus du contenu */
}

.header h5 {
  margin: 0;
  font-size: 18px;
  color: #333;
}





.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 15px;
    color: white;
}

.sidebar ul li .icon {
    font-size: 24px;
    color: white;
    display: inline-block;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

.sidebar:hover ul li a {
    opacity: 1;
}

.sidebar ul li:hover {
    background-color: #1c252e;
}

.sidebar ul li.active {
    background-color: #741207;
}

.sidebar ul li.active a {
    color: white;
}

.logout {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
