.dashboard-container {
    display: flex; /* Utiliser flexbox pour aligner les éléments côte à côte */
  }
  
app-admin-sidebar {
  width: 250px; /* Largeur de la sidebar */
  background-color: #ffffff; /* Couleur de fond de la sidebar */
  height: 100vh; /* Hauteur de la sidebar pour couvrir toute la hauteur de la fenêtre */
  position: fixed; /* Fixer la sidebar */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.main-content {
  flex: 1; /* Prendre tout l'espace restant */
  overflow-y: auto; /* Permettre le défilement vertical */
  background-color: #ffffff; /* Couleur de fond du contenu principal */
  padding: 20px; 
}



  

h4{
    color: #43AA12;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: -30px;
    }
    .services{

        display: flex;
        justify-content: center;
        .cards{
            display: flex;
            width: 98%;
            margin-bottom: 70px;

          }
          .card{
            margin: 20px;
            width: 350px;
        }
    }
    .cards{
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
    
        
    p{
    color: #000000a7;
    font-weight: bold;
    font-size: 15px;
    }
    
    .boutton-rv{
      height: 40px;
      width: 100%;
      background-color: #43AA12;
      font-size: 15px;
      font-weight: bold;
      border-radius: 5px;
      border: #43AA12;
      color: white;
    }
    .boutton{
      height: 35px;
      width: 100%;
      background-color: #1245aa;
      color: white;
      font-size: 15px;
      font-weight: bold;
      border-radius: 5px;
      border: none;
    }

.image{
  height: 200px;
}

.missions{
  margin: 100px;
}


  .images{
      margin-left: 90px;
  }
