<div class="dashboard-container">
    <app-patient-header></app-patient-header>
    <div class="main-content">
        <h2 class="section-title">Liste des Services</h2>
        <input type="text" class="search-input" [(ngModel)]="searchTerm" (input)="searchService()" placeholder="Rechercher par nom..." />
        <div class="services">
            <div class="cards">
              <ng-container *ngFor="let service of services; let i = index">
                <div *ngIf="i < 8" class="card">
                  <img *ngIf="service.photo" [src]="service.photo" alt="{{ service.name }}" class="image" />
                  <div class="card-header">
                    <h5>{{ service.name }}</h5>
                    <p>{{ limitWords(service.description) }}</p>                 
                  </div>
                  <a href="login"> <button class="boutton-rv">  Prendre rendez-vous</button></a>
                </div>
              </ng-container>
            </div>
          </div>
    </div>
</div>