<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="banner" id="banner">
    <div class="text">
      <h2>À propos de CareWell</h2>
      <p>Carewell est une application de la clinique La Croix Bleue qui offre un espace totalement digitalise.</p>
      <h6>Ce que nous proposons</h6>
      <p>Une prise de rnddez-en ligne en un clic</p>    
    </div>

  </div>

    <div class="us">
      <h2>À propos de CareWell</h2>
      <p>CareWell est un service de soins en ligne spécialisé dans la pneumologie et la gastro-enterologie. Nous proposons un large éventail de services adaptés à votre besoin et à votre situation. CareWell vous accompagne dans votre recherche de soin et vous aide à trouver un médecin qui vous convient le mieux.</p>
    </div>

     <div class="objectifs">

    <h3>Nos objectifs</h3>
    <ul>
      <li>Faciliter la recherche de soins en ligne</li>
      <li>Proposer un service de soins adapté à votre situation</li>
      <li>Aider les patients à trouver un médecin qui leur convient le mieux</li>
    </ul>
  </div> 

</body>
</html>