<img src="/images/deco.png" alt="" class="deco1">
<h4>Catégories de Maladies</h4>
<p>Trouvez ci-dessous les maladies que nous soignons et prenez rendez-vous avec nos médecins.</p>

<div class="maladies">


  <div class="cards">
    <div class="card">
      <img alt="Maladie" src="/images/maladie1.png" class="image">
      <div class="card-header">
        <h5>Asthme</h5>
      </div>
      <button class="boutton">
        Consulter
      </button>
    </div>

    <div class="card">
      <img alt="Maladie" src="/images/maladie2.png" class="image">
      <div class="card-header">
        <h5>Asthme</h5>
      </div>
      <button class="boutton">
        Consulter
      </button>
    </div>

    <div class="card">
      <img alt="Maladie" src="/images/maladie3.png" class="image">
      <div class="card-header">
        <h5>Asthme</h5>
      </div>
      <button class="boutton">
        Consulter
      </button>
    </div>

    <div class="card">
      <img alt="Maladie" src="/images/maladie4.png" class="image">
      <div class="card-header">
        <h5>Asthme</h5>
      </div>
      <button class="boutton">
        Consulter
      </button>
    </div>

    <div class="card">
      <img alt="Maladie" src="/images/maladie5.png" class="image">
      <div class="card-header">
        <h5>Asthme</h5>
      </div>
      <button class="boutton">
        Consulter
      </button>
    </div>

  </div>
</div>

<img src="/images/deco.png" alt="" class="deco1">
