<!-- <h2>Rendez-vous</h2>
<div *ngFor="let appointment of appointments" style="border-bottom: 1px solid #ccc; padding: 10px;">
  <p><strong>Utilisateur :</strong> {{ appointment.user.name }}</p>
  <p><strong>Service :</strong> {{ appointment.service.name }}</p>
  <p><strong>Date :</strong> {{ appointment.date }}</p>
  <p><strong>Heure :</strong> {{ appointment.time }}</p>
  <p><strong>Raison :</strong> {{ appointment.reason }}</p>
  <p><strong>Symptômes :</strong> {{ appointment.symptoms || 'Non spécifié' }}</p>
</div>



<h3>Ajouter un nouveau rendez-vous</h3>
<form (submit)="addAppointment()">
  <label for="user_id">ID de l'utilisateur :</label>
  <input id="user_id" [(ngModel)]="newAppointment.user_id" name="user_id" required>

  <label for="service_id">ID du service :</label>
  <input id="service_id" [(ngModel)]="newAppointment.service_id" name="service_id" required>

  <label for="reason">Raison :</label>
  <input id="reason" [(ngModel)]="newAppointment.reason" name="reason" required>

  <label for="symptoms">Symptômes :</label>
  <input id="symptoms" [(ngModel)]="newAppointment.symptoms" name="symptoms">

  <label for="date">Date :</label>
  <input id="date" type="date" [(ngModel)]="newAppointment.date" name="date" required>

  <label for="time">Heure :</label>
  <input id="time" type="time" [(ngModel)]="newAppointment.time" name="time" required>

  <button type="submit">Ajouter rendez-vous</button>
</form> -->
