<form (ngSubmit)="register()">
  <input type="text" [(ngModel)]="user.first_name" name="first_name" placeholder="Prénom" required>
  <input type="text" [(ngModel)]="user.last_name" name="last_name" placeholder="Nom" required>
  <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email" required>
  <input type="text" [(ngModel)]="user.adress" name="adress" placeholder="Adresse" required>
  <input type="text" [(ngModel)]="user.phone_number" name="phone_number" placeholder="Numéro de téléphone" required>
  <input type="date" [(ngModel)]="user.day_of_birth" name="day_of_birth" placeholder="Date de naissance" required>
  <input type="password" [(ngModel)]="user.password" name="password" placeholder="Mot de passe" required>
  <button type="submit">S'inscrire</button>
</form>
