/* doctor-sidebar.component.css */
.sidebar {
  width: 240px; /* Ajuste la largeur de la sidebar */
  background-color: #dedbdb70; /* Couleur de fond de la sidebar */
  padding: 10px;
  height: 100vh; /* Hauteur pleine de la sidebar */
  border-radius: 4px; /* Arrondit les coins */
  transition: background-color 0.3s; /* Transition douce pour le changement de couleur */
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
  .logo{
    height: 91px;
    width: 120px;
    margin-top: 20px;
  }
  .sidebar ul {
    list-style-type: none; /* Retire les puces de la liste */
    padding: 0; /* Enlève le remplissage par défaut */
    width: 220px;
    margin-top: 40px;
    color: #1F2B6C;
    font-weight: 500;
    font-size: 18px;
    font-family: kanit;
  }
  
  .sidebar li {
    display: flex; /* Utilise flexbox pour aligner l'image et le texte */
    align-items: center; /* Centre verticalement les éléments */
    margin-bottom: 15px; /* Espace entre les éléments */
    padding-left: 15px;
    height: 55px;
    margin: 2px;
    margin-top: 10px;
    border-radius: 10px;
  }
  .sidebar li.active {
    background-color: #1F2B6C; /* Couleur de fond lorsque l'élément est actif */
}

.sidebar li.active a {
    color: #ffffff; /* Couleur du texte lorsque l'élément est actif */
}

.sidebar li.active .icon {
    color: #ffffff; /* Couleur de l'icône lorsque l'élément est actif */
}

.sidebar li:hover {
    background-color: #1F2B6C; /* Couleur de fond verte au survol */
}

.sidebar li:hover a {
    color: #ffffff; /* Change la couleur du texte au survol */
}

.sidebar li:hover .icon {
    color: #ffffff;
}
  .icon {
    font-size: 24px; /* Ajuste la taille de l'icône */
    margin-right: 10px; /* Espace entre l'icône et le texte */
  }
  
  a {
    text-decoration: none; /* Enlève le soulignement du lien */
    color: #1F2B6C;
  }
  
  a:hover {
    color: #1F2B6C; /* Change la couleur au survol */
  }
  