<div class="body">
    <app-admin-sidebar></app-admin-sidebar>          
    <div class="container mt-4">
      <div class="form-container bg-light p-4 rounded shadow">
        <form class="article-form" (ngSubmit)="addPrescription()">
          <h2 class="section-title text-center mb-4">Ajouter un Article</h2>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="newPrescription.name" name="name" placeholder="Nom de l'article" required />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="newPrescription.quantity" name="quantity" placeholder="Quantité" required />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="newPrescription.price" name="price" placeholder="Prix" required />
          </div>
          <div class="form-group">
            <label for="service_id">Sélectionner un service :</label>
            <select id="service_id" [(ngModel)]="newPrescription.service_id" name="service_id" class="form-control" required>
              <option *ngFor="let service of services" [value]="service.id">{{ service.name }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-3">Ajouter Article</button>
        </form>
      </div>
      
      <hr class="my-4" />
      

    </div>
  </div>
  