.dashboard-container {
    display: flex; /* Utiliser flexbox pour aligner les éléments côte à côte */
  }
  
app-admin-sidebar {
  width: 250px; /* Largeur de la sidebar */
  background-color: #ffffff; /* Couleur de fond de la sidebar */
  height: 100vh; /* Hauteur de la sidebar pour couvrir toute la hauteur de la fenêtre */
  position: fixed; /* Fixer la sidebar */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.main-content {
  flex: 1; /* Prendre tout l'espace restant */
  overflow-y: auto; /* Permettre le défilement vertical */
  background-color: #ffffff; /* Couleur de fond du contenu principal */
  padding: 20px; 
}

.photo{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #077676;
  object-fit: cover;
}