<div class="dashboard-container d-flex">
  <app-patient-header class="sidebar"></app-patient-header>

  <div class="main-content">
    
    <div class="container mt-5">
      <div class="row mt-4">
        <div class="col-md-8">
          <div class="card shadow-sm mb-4">
            <div class="card-header text-white">
              <h3>Dossier Médical de {{ medicalFile?.user?.first_name }} {{ medicalFile?.user?.last_name }}</h3>
            </div>
            <div class="card-body">
              
              <hr class="my-4" />

              <p>Historique médical:</p>
              <ul>
                <li *ngFor="let medicalfilehistory of medicalFile.medical_histories">
                {{ medicalfilehistory.content || 'Aucun historique' }}
              </ul>
              <hr class="my-4" /> 
              

              <p>Prescriptions Médicales:</p>
              <ul>
                <li *ngFor="let prescription of medicalFile.medicalprescription" class="d-flex justify-content-between align-items-center">
                  <div>
                    {{ prescription?.prescription.name || 'Aucune Prescription' }}
                  </div>
                  <div>
                    <span class="text-muted">{{ getRelativeTime(prescription?.created_at) }}</span>
                    <span class="text-muted ms-4">{{ prescription?.is_done ? 'Effectuée' : 'Non effectuée' }}</span>
                  </div>
                </li>              
              </ul>
              <hr class="my-4" />
              
              <p>Examens Médicaux:</p>
              <ul>
                <li *ngFor="let exam of medicalFile.medicalexam" class="d-flex justify-content-between align-items-center">
                  <div>
                    {{ exam?.exam.name || 'Aucun Examen' }}
                  </div>
                  <div>
                    <span class="text-muted">{{ getRelativeTime(exam?.created_at) }}</span>
                    <span class="text-muted ms-4">{{ exam?.is_done ? 'Effectuée' : 'Non effectuée' }}</span>
                  </div>
                </li>              
              </ul>
              <hr class="my-4" /> 

              <p>Notes Médicales:</p>
              <ul>
                <li *ngFor="let note of medicalFile.note">
                  {{ note.content }}
                </li>
              </ul>
            
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card p-4 shadow-sm card-info">
            <h5 class="text-center">Informations de l'Utilisateur</h5>
            <img *ngIf="medicalFile.user?.photo" [src]="'http://localhost:8000/storage/' + medicalFile.user?.photo" alt="{{ medicalFile.user?.first_name }}" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;" />
            <h5>Nom du patient: <span class="text-muted">{{ medicalFile?.user?.first_name }} {{ medicalFile?.user?.last_name }}</span></h5>
            <p><strong>Numéro de dossier:</strong> <span class="text-muted">{{ medicalFile?.identification_number }}</span></p>
            <p><strong>Date de naissance:</strong> <span class="text-muted">{{ medicalFile?.user?.day_of_birth | date }}</span></p>
            <p><strong>Adresse:</strong> <span class="text-muted">{{ medicalFile?.user?.adress }}</span></p>
            <p><strong>Email:</strong><span class="text-muted"> {{ medicalFile.user?.email }}</span></p>
            <p><strong>Téléphone:</strong><span class="text-muted"> {{ medicalFile.user?.phone_number }}</span></p>
            <p><strong>Date d'inscription:</strong> <span class="text-muted">{{ medicalFile.user?.created_at | date }}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
