<div class="dashboard-container">
  <app-admin-sidebar></app-admin-sidebar>
  <div class="main-content"><div class="container mt-5">
    <h2>Détails du Dossier Médical</h2>
    <p><strong>ID:</strong> {{ medicalFile?.identification_number }}</p>
    <p><strong>Nom:</strong> {{ medicalFile?.user?.first_name }} {{ medicalFile?.user?.last_name }}</p>
    <p><strong>Date de création:</strong> {{ medicalFile?.created_at | date }}</p>
    <p><strong>Historique médical:</strong> {{ medicalFile?.medical_history || 'Aucun historique' }}</p>
    <p><strong>Prescriptions:</strong> <span *ngIf="medicalFile?.prescriptions.length > 0; else noPrescriptions">
        <ul>
          <li *ngFor="let prescription of medicalFile?.prescriptions">{{ prescription }}</li>
        </ul>
      </span>
      <ng-template #noPrescriptions>Aucune prescription disponible</ng-template>
    </p>
  </div>
</div></div>