html, body {
  height: 100%; /* S'assurer que le corps et html occupent 100% de la hauteur */
  margin: 0; /* Supprimer les marges par défaut */
}

.dashboard-container {
  display: flex; /* Utiliser flexbox pour aligner les éléments côte à côte */
  height: 100vh; /* Prendre toute la hauteur de la fenêtre */
}

app-admin-sidebar {
  width: 250px; /* Largeur de la sidebar */
  background-color: #ffffff; /* Couleur de fond de la sidebar */
  height: 100vh; /* Hauteur de la sidebar pour couvrir toute la hauteur de la fenêtre */
  position: fixed; /* Fixer la sidebar */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.main-content {
  flex: 1; /* Prendre tout l'espace restant */
  margin-left: 250px; /* Créer un espace pour la sidebar fixe */
  overflow-y: auto; /* Permettre le défilement vertical */
  background-color: #ffffff; /* Couleur de fond du contenu principal */
  padding: 20px; /* Ajouter un padding pour le contenu */
}

.card {
  background-color: #ffffff; /* Couleur de fond de la carte */
}

h2 {
  color: #007bff; /* Couleur du texte du titre */
}

ul.list-unstyled {
  padding-left: 0; /* Supprimer le remplissage gauche */
}

ul.list-unstyled li {
  transition: background-color 0.3s; /* Ajout d'une transition pour un effet de survol */
}

ul.list-unstyled li:hover {
  background-color: #e9ecef; /* Couleur de fond au survol */
}

.bg-light {
  background-color: #f8f9fa !important; /* Assurez-vous que le fond clair est appliqué */
}
