.dashboard-container {
    display: flex; /* Utiliser flexbox pour aligner les éléments côte à côte */
  }
  
  app-doctor-sidebar, app-admin-sidebar {
    width: 250px; /* Largeur de la sidebar, ajuste selon tes besoins */
    background-color: #f8f9fa; /* Couleur de fond de la sidebar, modifiable */
    height: 100vh; /* Hauteur de la sidebar pour couvrir toute la hauteur de la fenêtre */
  }
  .header{
    display: flex;
    justify-content: space-between; /* Aligner le texte vers la droite */
    align-items: center; /* Centrer verticalement le texte */
    background-color: #077676; /* Couleur de fond de l'en-tête */
    color: #ffffff; /* Couleur du texte de l'en-tête */
    font-size: 16px; /* Taille du texte de l'en-tête */
    font-weight: 400; /* Écrire en gras */
    padding: 10px;
  }
  
  .photo1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 50px;
    margin-left: 10px;
  }

  .profil{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
  }
  .main-content {
    flex: 1; /* Prendre tout l'espace restant */
    background-color: #ffffff; /* Couleur de fond du contenu principal */
  }
  
  .banner{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    height: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.275); /* Ajoute une ombre à la carte */
    transition: box-shadow 0.3s; /* Transition douce pour le changement d'ombre */
    border-radius: 30px;
    margin: 35px;
  }

  .photo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  .infos{
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin-left: 140px;
  }

  .cards{
    display: flex;
    flex-wrap: wrap; /* Utiliser flexbox pour aligner les cartes côte à côte */
    gap: 20px; /* Espace entre les cartes */   
    margin-top: 30px; /* Ajoute un peu de marge en haut */
    justify-content: center;
  }

  .card{
    display: flex;
    flex-direction: column; /* Aligner les éléments verticalement */
    width: 174px; /* Largeur des cartes, ajuste selon tes besoins */
    height: 203px;
    background-color: #ffffff; /* Couleur de fond des cartes, modifiable */
    border-left: 5px solid #1F2B6C;
    border-radius: 20px;
    padding: 10px; /* Ajoute un peu de remplissage */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.328); /* Ajoute une ombre à la carte */
    transition: box-shadow 0.3s; /* Transition douce pour le changement d'ombre */
    color: rgba(0, 0, 0, 0.642);
    justify-content: center;
    align-items: center;

    p{
        font-size: 14px;
        color: #ffffffaf;
    }
  }

  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h6{
    font-size: 20px;
    color: #077676;
    font-weight: 500;
  }