<div class="main-content">
  <div class="dashboard-container">
    <app-doctor-sidebar class="sidebar"></app-doctor-sidebar>

    <div class="main-content">
      <div class="container mt-5">
        <h2 class="mb-4 text-center">Liste des patients avec rendez-vous</h2>

        <!-- Date du jour -->
        <div class="row mb-3">
          <div class="col-md-6">
            <p>Date du jour : {{ today | date: 'longDate' }}</p>
          </div>
          <div class="col-md-6 text-end">
            <label for="dateFilter">Filtrer par date : </label>
            <input type="date" id="dateFilter" [(ngModel)]="filterDate" (ngModelChange)="filterAppointments()" class="form-control">
          </div>
        </div>

        <!-- Champ de recherche -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="search">Rechercher un patient :</label>
            <input type="text" id="search" [(ngModel)]="searchQuery" (ngModelChange)="filterAppointments()" class="form-control" placeholder="Nom du patient">
          </div>
        </div>

        <!-- Tableau des patients -->
        <table *ngIf="patients.length > 0" class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Date du rendez-vous</th>
              <th>Heure</th>
              <th>Service</th>
              <th>Statut</th>
              <th scope="col">Urgence</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of filteredPatients">
              <td>{{ patient.patient_first_name }} {{ patient.patient_last_name }}</td>
              <td>{{ patient.appointment_date | date: 'shortDate' }}</td>
              <td>{{ patient.appointment_time }}</td>
              <td>{{ patient.service }}</td>
              <td>
                <span *ngIf="patient.is_urgent" class="badge badge-danger">Urgent</span>
              </td>
              <td>
                <span [ngClass]="{ 'text-success': patient.is_visited, 'text-danger': !patient.is_visited }">
                  {{ patient.is_visited ? 'Reçu' : 'Non reçu' }}
                </span>
              </td>
              <td>
                <button 
                  [ngClass]="{
                    'btn-received': patient.is_visited, 
                    'btn-not-received': !patient.is_visited
                  }"
                  class="btn" 
                  (click)="updateStatus(patient.appointment_id, patient.is_visited)">
                  {{ patient.is_visited ? 'Marquer comme non reçu' : 'Marquer comme reçu' }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <p *ngIf="filteredPatients.length === 0" class="text-center">Aucun patient trouvé.</p>
      </div>
    </div>
  </div>
</div>
