.dashboard-container {
  display: flex; /* Utiliser flexbox pour aligner les éléments côte à côte */
}

app-doctor-sidebar, app-admin-sidebar {
  width: 250px; /* Largeur de la sidebar, ajuste selon tes besoins */
  background-color: #f8f9fa; /* Couleur de fond de la sidebar, modifiable */
  height: 100vh; /* Hauteur de la sidebar pour couvrir toute la hauteur de la fenêtre */
}

.main-content {
  flex: 1; /* Prendre tout l'espace restant */
  background-color: #ffffff; /* Couleur de fond du contenu principal */
  margin-top: 30px;
}

/* patients.component.css */
.modal {
display: block; /* Show modal */
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.dashboard-container .main-content .card {
/* Appliquer un style aux cartes de rendez-vous */
border: 4px solid transparent; /* Bordure invisible par défaut */
border-bottom: 4px solid green; /* Bordure inférieure verte */
border-radius: 8px; /* Coins arrondis */
padding: 15px; 
background-color: #69696922; 
transition: transform 0.2s;
width: 90%; /* Réduire la largeur des cartes */
height: 80px;
max-width: 80%; /* Limite maximale de largeur */
margin-left: auto; /* Centrer horizontalement */
margin-right: auto; /* Centrer horizontalement */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.746); /* Ombre douce */
}

.card-text {
display: flex;
flex-wrap: wrap; /* Permet de disperser les informations et les boutons sur plusieurs lignes */
gap: 20px; /* Espacement entre les éléments */
}

.card:hover {
transform: scale(1.02); /* Légère augmentation de la taille au survol */
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.492); /* Ombre plus prononcée au survol */
}

.btn-refresh {
  background-color: #28a745; /* Couleur verte */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  padding: 10px 20px; /* Espacement interne */
  font-size: 16px; /* Taille de la police */
  transition: background-color 0.3s, transform 0.3s; /* Transition pour l'effet de survol */
}


