  
  app-doctor-sidebar, app-doctor-sidebar {
    background-color: #ffffff; /* Couleur de fond de la sidebar */
    height: 100vh; /* Hauteur de la sidebar pour couvrir toute la hauteur de la fenêtre */
    position: fixed; /* Fixer la sidebar */
  }

  /* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .dashboard-container {
    flex-direction: row;
  }
}

.sidebar {
  width: 80px;
  background-color: #2f453e;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: width 0.3s ease;
}

.sidebar:hover {
  width: 250px;
}

.main-content {
  margin-left: 80px;
  padding: 20px;
  background-color: #ffffff;
  transition: margin-left 0.3s ease;
}

.sidebar:hover ~ .main-content {
  margin-left: 250px;
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    height: auto;
    width: 100%;
  }
  
  .main-content {
    margin-left: 0;
    margin-top: 10px;
  }
}

/* Styles pour le conteneur principal */
.dashboard-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .dashboard-container {
    flex-direction: row;
  }
}


/* Responsive - Lorsque l'écran est plus petit (tablette et mobile) */
@media (max-width: 768px) {

  .content-wrapper {
    flex-direction: column; /* Empiler le formulaire et la liste verticalement */
  }

  .availability-list {
    margin-top: 20px; /* Espacer la liste sous le formulaire */
  }

}

/* Wrapper pour le formulaire et la liste des disponibilités */
.content-wrapper {
  display: flex;
  flex-direction: row; /* Par défaut, afficher en ligne */
  flex-wrap: wrap; /* Pour que le contenu se réorganise sur petits écrans */
}

/* Styles pour le formulaire */
form {
  flex: 1;
  margin-right: 20px;
}

/* Styles pour la liste des disponibilités */
.availability-list {
  flex: 1;
}

.card {
  transition: transform 0.2s;
  width: 200px;
}

.card:hover {
  transform: scale(1.05);
}

.bg-success {
  background-color: #28a745 !important;
}

.text-white {
  color: white !important;
}

/* Sur les très petits écrans (mobiles) */
@media (max-width: 480px) {
  /* Adapter les tailles de texte */
  .card-title, .card-text {
    font-size: 14px;
  }
  .card {
    transition: transform 0.2s;
    width: 100%;
  }
  .btn {
    width: 100%; /* Boutons prenant toute la largeur */
  }

  h2{
    font-size: 28px;
  }
  /* Modifier l'espacement dans le formulaire */
  .form-control {
    font-size: 14px; /* Réduire la taille des champs de formulaire */
    padding: 10px;
  }

  /* Réduire l'espace entre les éléments */
  .mb-3 {
    margin-bottom: 15px;
  }
}
