<div class="dashboard-container">
  <app-doctor-sidebar></app-doctor-sidebar>

  <div class="main-content">
    <!-- Formulaire d'ajout de disponibilité -->
    <h6>Ajouter une disponibilité</h6>
    <form (submit)="addAvailabilitySelf(form.value)" #form="ngForm" class="bg-light p-4 rounded shadow-sm">
      <div class="mb-3">
        <label for="availableDate" class="form-label">Date</label>
        <input type="date" id="availableDate" name="available_date" ngModel required class="form-control">
      </div>

      <div class="mb-3">
        <label for="startTime" class="form-label">Heure de début</label>
        <input type="time" id="startTime" name="start_time" ngModel required class="form-control">
      </div>

      <div class="mb-3">
        <label for="endTime" class="form-label">Heure de fin</label>
        <input type="time" id="endTime" name="end_time" ngModel required class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Ajouter Disponibilité</button>
    </form>

    <h2 class="text-primary mt-4">Disponibilités</h2>

    <!-- Liste des disponibilités sous forme de cartes -->
    <div class="row" *ngIf="availabilities.length > 0">
      <div class="col-md-4" *ngFor="let availability of availabilities">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">
              {{ availability.doctor?.first_name }} {{ availability.doctor?.last_name }}
            </h5>
            <p class="card-text">
              <strong>Service:</strong> {{ availability.service?.name }}<br>
              <strong>Date:</strong> {{ availability.available_date }} <br>
              <strong>De:</strong> {{ formatTime(availability.start_time) }}<br>
              <strong>À:</strong> {{ formatTime(availability.end_time) }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="availabilities.length === 0" class="alert alert-info">
      Aucune disponibilité trouvée.
    </div>
  </div>
</div>
