<form [formGroup]="addUserForm" (ngSubmit)="onAddUser()">
    <div>
      <label for="first_name">Prénom</label>
      <input id="first_name" formControlName="first_name" required />
    </div>
    <div>
      <label for="last_name">Nom</label>
      <input id="last_name" formControlName="last_name" required />
    </div>
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" required />
    </div>
    <div>
      <label for="adress">Adresse</label>
      <input id="adress" formControlName="adress" required />
    </div>
    <div>
      <label for="phone_number">Téléphone</label>
      <input id="phone_number" formControlName="phone_number" required />
    </div>
    <div>
      <label for="day_of_birth">Date de naissance</label>
      <input id="day_of_birth" formControlName="day_of_birth" type="date" required />
    </div>
    <div>
      <label for="password">Mot de passe</label>
      <input id="password" formControlName="password" type="password" required />
    </div>
    <div>
      <label for="role">Rôle</label>
      <select id="role" formControlName="role" required>
        <option value="Admin">Admin</option>
        <option value="Patient">Patient</option>
        <option value="Doctor">Docteur</option>
        <option value="Accountant">Comptable</option>
      </select>
    </div>
    <div>
      <label for="photo">Photo</label>
      <input type="file" (change)="onFileChange($event)" />
    </div>
    <button type="submit">Ajouter Utilisateur</button>
  </form>
  