<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Document</title>
  <style>

  </style>
</head>
<body>
  <div class="dashboard-container">
    <app-doctor-sidebar class="sidebar"></app-doctor-sidebar>    <div class="main-content">

      <div class="banner">
        <img *ngIf="userInfo.photo" [src]="'http://localhost:8000/storage/' + userInfo.photo" alt="{{ userInfo.first_name }}" class="photo" />
        <div class="infos">
          <div class="perso">
            <h6>Dr {{ userInfo.first_name }} {{ userInfo.last_name }}</h6>
            <p>Adresse : {{ userInfo.adress }}</p>
            <p>Téléphone : {{ userInfo.phone_number }}</p>
            <p>{{ userInfo.email }}</p>
          </div>

          <div class="specialite">
            <h6>Spécialité : {{ userInfo.speciality }}</h6>
            <p>Grade : {{ userInfo.grade }}</p>
          </div>
        </div>
      </div>

      <div class="stats">
        <div class="card-container">
          <div class="card">
            <h6>Rendez-vous aujourd'hui</h6>
            <p>{{ doctorStats.appointments_today }}</p>
          </div>
          <div class="card">
            <h6>Rendez-vous complétés</h6>
            <p>{{ doctorStats.appointments_completed_today }}</p>
          </div>
          <div class="card">
            <h6>Total rendez-vous du mois</h6>
            <p>{{ doctorStats.total_appointments_for_month }}</p>
          </div>
          <div class="card">
            <h6>Rendez-vous de l'année</h6>
            <p>{{ doctorStats.cancelled_appointments_for_month }}</p>
          </div>

        </div>
      </div>
      <div class="chart-container mt-5">
        <canvas id="myChart"></canvas>
        <canvas id="myPieChart"></canvas> <!-- Ajout du canvas pour le deuxième graphique -->
        <canvas id="lineChart" width="400" height="200"></canvas>

      </div>
      
    
    </div>
  </div>

</body>
</html>
