<div class="dashboard-container">
    <app-patient-header class="sidebar"></app-patient-header>
    <div class="main-content">
      <h2 class="section-title">Liste des Articles</h2>
      <input type="text" class="search-input" [(ngModel)]="searchTerm" (input)="searchArticle()" placeholder="Rechercher par nom..." />
  
        <div class="maladies">
          <div class="cards">
            <ng-container *ngFor="let article of articles; let i = index">
              <div *ngIf="i < 8" class="card">
                <img *ngIf="article.photo" [src]="article.photo" alt="{{ article.title }}" class="image" />
                <div class="card-header">
                  <h5>{{ article.title }}</h5>
                  <p>{{ limitWords(article.content) }}</p>                 
                </div>
                <button  (click)="goToArticleDetails(article.id)" class="boutton ">Consulter</button>
              </div>
            </ng-container>
          </div>
        </div>
    </div>
  </div>
  