.dashboard-container {
  display: flex; /* Utiliser flexbox pour aligner les éléments côte à côte */
  background-color: #f2f4f8; /* Couleur de fond pour un effet doux */
}

app-doctor-sidebar {
  width: 250px; /* Largeur de la sidebar, ajuste selon tes besoins */
  background-color: #ffffff; /* Couleur de fond de la sidebar */
  height: 100vh; /* Hauteur de la sidebar pour couvrir toute la hauteur de la fenêtre */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.main-content {
  flex: 1; /* Prendre tout l'espace restant */
  background-color: #ffffff; /* Couleur de fond du contenu principal */
}

.card-header {
  background-color: #007bff; /* Couleur d'arrière-plan de l'en-tête de carte */
  color: white; /* Couleur du texte de l'en-tête */
  font-size: 1.5rem;
}

.btn {
  margin-top: 10px;
}

.form-control {
  border-radius: 0.25rem; /* Coins arrondis pour les champs de formulaire */
}

ul {
  list-style-type: none; /* Supprimer les puces de la liste */
  padding-left: 0; /* Supprimer le remplissage gauche */
}

p{
  font-weight: 500;
}

span{
  color: #00000099;
}