<div class="dashboard-container d-flex">
  <app-doctor-sidebar></app-doctor-sidebar>
  <div class="main-content flex-grow-1 p-4">
    <div class="container mt-4">
      <div class="row">
        <!-- Colonne principale du contenu du dossier -->
        <div class="col-md-8">
          <div class="card shadow-sm mb-4">
            <div class="card-header text-white">
              <h3>Dossier Médical de {{ medicalFile?.user?.first_name }} {{ medicalFile?.user?.last_name }}</h3>
            </div>
            <div class="card-body">
              <h5>Nom du patient: <span class="text-muted">{{ medicalFile?.user?.first_name }} {{ medicalFile?.user?.last_name }}</span></h5>
              <p><strong>Numéro de dossier:</strong> <span class="text-muted">{{ medicalFile?.identification_number }}</span></p>
              <p><strong>Date de naissance:</strong> <span class="text-muted">{{ medicalFile?.user?.day_of_birth | date }}</span></p>
              <p><strong>Adresse:</strong> <span class="text-muted">{{ medicalFile?.user?.adress }}</span></p>
              <p><strong>Date d'ouverture du dossier:</strong> <span class="text-muted">{{ medicalFile?.created_at | date }}</span></p>
              
              <hr class="my-4" />

              <p>Historique médical:</p>
              <ul>
                <li *ngFor="let medicalfilehistory of medicalFile.medical_histories">
                {{ medicalfilehistory.content || 'Aucun historique' }}
              </ul>
              <hr class="my-4" /> 
              

              <p>Prescriptions Médicales:</p>
              <ul>
                <li *ngFor="let prescription of medicalFile.medicalprescription" class="d-flex justify-content-between align-items-center">
                  <div>
                    {{ prescription?.prescription.name || 'Aucune Prescription' }}
                  </div>
                  <div>
                    <span class="text-muted">{{ getRelativeTime(prescription?.created_at) }}</span>
                    <span class="text-muted ms-4">{{ prescription?.is_done ? 'Effectuée' : 'Non effectuée' }}</span>
                  </div>
                </li>              
              </ul>
              <hr class="my-4" />
              
              <p>Examens Médicaux:</p>
              <ul>
                <li *ngFor="let exam of medicalFile.medicalexam" class="d-flex justify-content-between align-items-center">
                  <div>
                    {{ exam?.exam.name || 'Aucun Examen' }}
                  </div>
                  <div>
                    <span class="text-muted">{{ getRelativeTime(exam?.created_at) }}</span>
                    <span class="text-muted ms-4">{{ exam?.is_done ? 'Effectuée' : 'Non effectuée' }}</span>
                  </div>
                </li>              
              </ul>
              

              <p>Notes Médicales:</p>
              <ul>
                <li *ngFor="let note of medicalFile.note">
                  {{ note.content }}
                </li>
              </ul>
            
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="sticky-form">
            <h5 class="mb-3">Ajouter des informations</h5>
        
            <form (submit)="addNote(form.value)" #form="ngForm" class="bg-light p-2 rounded shadow-sm mb-3">
              <div class="mb-2">
                <label for="content" class="form-label">Note</label>
                <input type="text" id="content" name="content" ngModel required class="form-control">
              </div>
              <button type="submit" class="btn  w-100">Ajouter Note</button>
            </form>
        
            <form (ngSubmit)="addHistory(historyForm.value)" #historyForm="ngForm" class="bg-light p-2 rounded shadow-sm mb-3">
              <div class="mb-2">
                <label for="historyContent" class="form-label">Antécédent</label>
                <input type="text" id="historyContent" name="content" ngModel required class="form-control">
              </div>
              <button type="submit" class="btn  w-100">Ajouter Antécédent</button>
            </form>
        
            <form (ngSubmit)="addPrescription(prescriptionForm.value)" #prescriptionForm="ngForm" class="bg-light p-2 rounded shadow-sm mb-3">
              <div class="mb-2">
                <label for="prescription" class="form-label">Prescription</label>
                <select id="prescription" name="prescription_id" ngModel required class="form-control">
                  <option value="" disabled selected>Sélectionnez une prescription</option>
                  <option *ngFor="let prescription of prescriptions" [value]="prescription.id">
                    {{ prescription.name }}
                  </option>
                </select>
              </div>
              <button type="submit" class="btn  w-100">Ajouter Prescription</button>
            </form>
        
            <form (ngSubmit)="addExam(examForm.value)" #examForm="ngForm" class="bg-light p-2 rounded shadow-sm mb-3">
              <div class="mb-2">
                <label for="exam" class="form-label">Examen</label>
                <select id="exam" name="exam_id" ngModel required class="form-control">
                  <option value="" disabled selected>Sélectionnez un examen</option>
                  <option *ngFor="let exam of exams" [value]="exam.id">
                    {{ exam.name }}
                  </option>
                </select>
              </div>
              <button type="submit" class="btn  w-100">Ajouter Examen</button>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
