/* doctor-sidebar.component.css */
.sidebar {
  width: 240px; 
  background-color: #dedbdb70; 
  padding: 20px;
  height: 100vh;
  padding: 10px; 
  border-radius: 4px; 
  transition: background-color 0.3s; 
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  height: 91px;
  width: 120px;
  margin-top: 20px;
}


.sidebar ul {
  list-style-type: none;
  padding: 0; 
  width: 230px;
  margin-top: 40px;
  color: #077676;
  font-weight: 500;
  margin: 2px;
  font-size: 18px;
  font-family: kanit;
}

.sidebar li {
  display: flex; /* Utilise flexbox pour aligner l'image et le texte */
  align-items: center; /* Centre verticalement les éléments */
  padding-left: 10px;
  height: 55px;
  margin-top: 10px;
  border-radius: 10px;
  a{
      color: #077676;
      text-decoration: none;
  }
}
  .sidebar li.active {
    background-color: #077676; /* Couleur de fond lorsque l'élément est actif */
}

.sidebar li.active a {
    color: #ffffff; /* Couleur du texte lorsque l'élément est actif */
}

.sidebar li.active .icon {
    color: #ffffff; /* Couleur de l'icône lorsque l'élément est actif */
}

.sidebar li:hover {
    background-color: #077676; /* Couleur de fond verte au survol */
}

.sidebar li:hover a {
    color: #ffffff; /* Change la couleur du texte au survol */
}

.sidebar li:hover .icon {
    color: #ffffff;
}

.icon {
  font-size: 24px; /* Ajuste la taille de l'icône */
  margin-right: 10px; /* Espace entre l'icône et le texte */
}

a {
  text-decoration: none; /* Enlève le soulignement du lien */
  color: #b60808; /* Couleur du texte */
}
