<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/maki-icons@latest/dist/maki.css">
    <title>Sidebar du docteurs</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <img src="images/logo.png" alt="Image 1" class="logo" height="60">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/patient/appointments">Rendez-vous</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tickets">Billets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="profile">Billets</a>
              </li>
              <li class="inscription">
                <a class="nav-link" href="/register">Profil</a>
              </li>
                <!-- <li class="connexion">
                <a class="nav-link" href="#">Se connecter</a>
              </li> -->
            </ul>
            <ul>
            </ul>
          </div>
        </div>
      </nav>
</body>
</html>
