
<div class="dashboard-container">
    <app-admin-sidebar class="sidebar"></app-admin-sidebar>

    <div class="main-content">
        <div class="container">
    <div class="form-container">
    <form class="article-form" (ngSubmit)="addArticle()">
        <h2 class="section-title">Ajouter un Article</h2>
        <input type="text" [(ngModel)]="newArticle.title" name="tilte" placeholder="Nom de l'article" required />
        <textarea [(ngModel)]="newArticle.content" name="content" placeholder="Description de la maladie"></textarea>
        <input type="text" [(ngModel)]="newArticle.symptoms" name="symptoms" placeholder="Les symptomes de la maladie" >
        <input type="text" [(ngModel)]="newArticle.advices" name="advices" placeholder="Conseils pratiques">
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
        <button type="submit" class="btn btn-primary">Ajouter Article</button>
    </form>
        
</div>
    <hr class="divider" />
    <div>
    </div>
    <hr class="divider" />

    <h2 class="section-title">Liste des Articles</h2>
    <input type="text" class="search-input" [(ngModel)]="searchTerm" (input)="searchArticle()" placeholder="Rechercher par nom..." />
    <div class="articles-list">
        <div class="article-card" *ngFor="let article of articles">
            <img *ngIf="article.photo" [src]="'http://localhost:8000/storage/' + article.photo" alt="{{ article.name }}" class="article-photo" />
            <h4>{{ article.title }}</h4>
            <p>{{ limitWords(article.content) }}</p>             
            <div class="article-buttons">
                <button (click)="deleteArticle(article.id)" class="btn btn-danger"><i class="fas fa-trash"></i> Supprimer</button>
                <button (click)="openUpdateModal(article)" class="btn btn-secondary"><i class="fas fa-edit"></i> Modifier</button>
                <button (click)="openDetailsModal(article)" class="btn btn-info"><i class="fas fa-eye"></i> Voir les détails</button>
            </div>
        </div>
    </div>

<!-- Modal pour la modification -->
<div class="modal" *ngIf="isModalOpen">
    <div class="modal-content1">
        <span class="close" (click)="closeUpdateModal()">&times;</span>
        <h5>Modifier l'Article</h5>
        <form (ngSubmit)="updateArticleConfirmed()">
            <input type="text" [(ngModel)]="selectedArticle.title" name="title" placeholder="Nom de la maladie" required />
            <textarea [(ngModel)]="selectedArticle.content" name="content" placeholder="Description du service"></textarea>
            <input type="text" [(ngModel)]="selectedArticle.symptoms" name="symptoms" placeholder="Symptomes de la maladie">
            <input type="text" [(ngModel)]="selectedArticle.advices" name="advices" placeholder="Conseils pratiques">
            <input type="file" (change)="onFileSelected($event)" accept="image/*" />
            <button type="submit" class="btn btn-primary">Modifier Article</button>
        </form>
    </div>
</div>

</div>
</div>
</div>