<div class="dashboard-container d-flex">
  <app-patient-header class="sidebar"></app-patient-header>

  <div class="main-content">
    <div class="content-header">
      <h4>Mes Tickets</h4>
      <div class="search-container">
        <input 
          type="text" 
          [(ngModel)]="searchTerm" 
          placeholder="Rechercher un ticket..." 
          class="search-input" 
          (input)="searchTickets()">
      </div>
    </div>

    <div class="cards-container">
      <div class="ticket-card" [id]="'ticket-' + ticket.id" *ngFor="let ticket of tickets">
        <div class="ticket-header">
          <img src="images/logo.png" alt="Logo du ticket" class="ticket-logo" height="50">
          <div>
            <span class="ticket-id">Ticket Numéro: #{{ ticket.id }}</span><br>
            <span class="ticket-date">{{ ticket.created_at | date:'dd/MM/yyyy HH:mm' }}</span>
          </div>
        </div>

        <div class="ticket-content">
          <div *ngIf="ticket.prescription">
            <h3>Prescription</h3>
            <p><strong>Patient:</strong> {{ ticket.user?.first_name }} {{ ticket.user?.last_name }}</p>
            <p><strong>Nom:</strong> {{ ticket.prescription.name }}</p>
            <p><strong>Quantité:</strong> {{ ticket.prescription.quantity }}</p>
            <p><strong>Prix:</strong> {{ ticket.prescription.price | number }} FCFA</p>
          </div>
          <div *ngIf="ticket.appointment">
            <h3>Rendez-vous</h3>
            <p><strong>Patient:</strong> {{ ticket.user?.first_name }} {{ ticket.user?.last_name }}</p>
            <p><strong>Date:</strong> {{ ticket.appointment.date | date:'dd/MM/yyyy' }}</p>
            <p><strong>Heure:</strong> {{ ticket.appointment.time }}</p>
            <p><strong>Service:</strong> {{ ticket.appointment?.service.name }}</p>
            <p><strong>Prix:</strong> {{ ticket.appointment.price | number }} FCFA</p>
          </div>
          <div *ngIf="ticket.exam">
            <h3>Examen</h3>
            <p><strong>Patient:</strong> {{ ticket.user?.first_name }} {{ ticket.user?.last_name }}</p>
            <p><strong>Type:</strong> {{ ticket.exam.name }}</p>
            <p><strong>Prix:</strong> {{ ticket.exam.price }} FCFA</p>
            <p><strong>Description:</strong> {{ ticket.exam.description }}</p>
          </div>
        </div>

        <div class="ticket-footer">
          <span class="status" [ngClass]="ticket.is_paid ? 'status-paid' : 'status-unpaid'">
            <strong>Statut:</strong> {{ ticket.is_paid ? 'Payé' : 'Non payé' }}
          </span>
          <button class="btn-download" (click)="downloadTicketAsPDF(ticket)">
            <i class="fas fa-download"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination-buttons d-flex justify-content-center">
      <button  class="btn btn-primary mx-2"(click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Précédent</button>
      <span>Page {{ currentPage }} sur {{ totalPages }}</span>
      <button class="btn btn-primary mx-2" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Suivant</button>
    </div>
  </div>
</div>
