.dashboard-container {
    display: flex;
}

.sidebar {
    width: 80px;
    height: 100vh;
    background-color: #2f453e;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s;
    overflow: hidden;
}

.sidebar:hover {
    width: 250px;
}

.main-content {
    flex: 1;
    margin-left: 80px;
    padding: 20px;
    background-color: #f8f9fa;
    transition: margin-left 0.3s;
    margin-top: 50px;
}

.sidebar:hover ~ .main-content {
    margin-left: 250px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-container {
    position: relative;
}

.search-input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 250px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ticket-card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: transform 0.3s;
}

.ticket-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.ticket-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.ticket-logo {
    margin-right: 10px;
}

.ticket-id {
    font-weight: 500;
    color: #343a40;
}

.ticket-date {
    color: #6c757d;
    font-size: 0.9em;
}

.ticket-content {
    margin-top: 10px;
}

.ticket-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.status {
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
}

.status-paid {
    color: #28a745;
    background-color: #e2f7e2;
}

.status-unpaid {
    color: #dc3545;
    background-color: #f7e2e2;
}

.btn-download {
    /* background-color: #424243; */
    color: rgba(0, 37, 116, 0.897);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-download:hover {
    background-color: #0056b3;
}

.btn-download i {
    margin-right: 5px;
}

h3{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

