.dashboard-container {
    display: flex; /* Utiliser flexbox pour aligner les éléments côte à côte */
  }
  
  app-admin-sidebar {
    background-color: #ffffff; /* Couleur de fond de la sidebar */
    height: 100vh; /* Hauteur de la sidebar pour couvrir toute la hauteur de la fenêtre */
    position: fixed; /* Fixer la sidebar */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  }
  
  
/* Sidebar en hover */
.sidebar:hover {
  width: 250px;
}

/* Contenu principal ajustable */
.main-content {
  flex: 1;
  margin-left: 80px; /* Largeur par défaut de la sidebar */
  padding: 20px;
  transition: margin-left 0.3s ease; /* Transition douce */
  background-color: #ffffff;
}

/* Ajustement du contenu lorsque la sidebar est en hover */
.sidebar:hover ~ .main-content {
  margin-left: 250px; /* Largeur de la sidebar en mode hover */
}

  .card{
    height: 200px;
    display: flex;
    flex-direction: column;
    border-left: 5px solid #054280;
    border-radius: 15px;
    .card-body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    h5{
      font-size: 16px;
      font-weight: bold;
    }
    p{
      font-size: 14px;
      margin-top: 10px;
      font-weight: bold;
    }
  }

  .btn-refresh{
    background-color: #054280;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    &:hover{
      background-color: #003366;
    }
  }