<div class="dashboard-container">
    <app-admin-sidebar></app-admin-sidebar>
    <div class="main-content">

<div class="container mt-5">
    <h2 class="mb-4">Liste des dossiers medicaux</h2>
    <button class="btn btn-primary mb-3" (click)="loadMedicalFiles()">Rafraîchir la liste</button>
  
    <table class="table table-bordered" *ngIf="medicalfiles.length > 0">
      <thead>
        <tr>
          <th>ID Patient</th>
          <th>Nom</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medicalfile of medicalfiles">
          <td>{{ medicalfile.identification_number }}</td>
          <td>{{ medicalfile.user_first_name }} {{ medicalfile.medicalfile_last_name }}</td>

        </tr>
      </tbody>
    </table>
  
    <p *ngIf="medicalfiles.length === 0">Aucun dossier n'a été trouvé.</p>
  </div>
</div>
</div>