  
  app-doctor-sidebar, app-doctor-sidebar {
    background-color: #ffffff; /* Couleur de fond de la sidebar */
    height: 100vh; /* Hauteur de la sidebar pour couvrir toute la hauteur de la fenêtre */
    position: fixed; /* Fixer la sidebar */
  }

  /* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .dashboard-container {
    flex-direction: row;
  }
}

.sidebar {
  width: 80px;
  background-color: #2f453e;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: width 0.3s ease;
}

.sidebar:hover {
  width: 250px;
}

.main-content {
  margin-left: 80px;
  padding: 20px;
  background-color: #ffffff;
  transition: margin-left 0.3s ease;
}

.sidebar:hover ~ .main-content {
  margin-left: 250px;
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    height: auto;
    width: 100%;
  }
  
  .main-content {
    margin-left: 0;
    margin-top: 10px;
  }

  h2{
    font-size: 18px;
  }
}

.card{
  height: 220px;
  display: flex;
  flex-direction: column;
  width: 190px;
  border-left: 5px solid #054280;
  border-radius: 15px;
  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h5{
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
  }
  p{
    font-size: 14px;
    margin-top: 25px;
    font-weight: bold;
  }
}

.btn-refresh{
  background-color: #054280;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  &:hover{
    background-color: #003366;
  }
}