<div class="dashboard-container">
    <app-doctor-sidebar class="sidebar"></app-doctor-sidebar>
    <div class="main-content">
      <div class="header">
        <h5>Bon retour Dr {{ userInfo.last_name }}</h5>
    
        <div class="profil">
            <p>{{ userInfo.first_name }} {{ userInfo.last_name }}</p>
            <img *ngIf="userInfo.photo" [src]="'http://localhost:8000/storage/' + userInfo.photo" alt="{{ userInfo.first_name }}" class="photo1" />
        </div>
    </div>
    
      <div class="container mt-5">
        <h2 class="mb-4">Liste des dossiers médicaux</h2>
        
        <div class="input-group mb-8">
          <input type="text" class="form-control" placeholder="Rechercher un patient, un numéro de dossier..." [(ngModel)]="searchQuery" (input)="searchMedicalFiles()" aria-label="Search" aria-describedby="button-addon2">
          <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="searchMedicalFiles()">
            <i class="bi bi-search"></i>
          </button>
        </div>
  
        <p *ngIf="filteredMedicalFiles.length > 0">Nombre de dossiers trouvés : {{ filteredMedicalFiles.length }}</p>
        
        <p *ngIf="searchQuery && filteredMedicalFiles.length === 0">Aucun dossier ne correspond à votre recherche.</p>
  
        <button class="btn-refresh  mb-3" (click)="loadMedicalFiles()">Rafraîchir la liste</button>
        
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6" *ngFor="let medicalfile of filteredMedicalFiles" (click)="goToMedicalFileDetails(medicalfile.id)" style="cursor: pointer;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ medicalfile.user?.first_name }} {{ medicalfile.user?.last_name }}</h5>
                <p class="card-text">{{ medicalfile.identification_number }}</p>
                <p class="card-text">{{ medicalfile.created_at | date }}</p>
              </div>
            </div>
          </div>
        </div>
  
        <div *ngIf="!searchQuery">
          <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4" *ngFor="let medicalfile of medicalfiles" (click)="goToMedicalFileDetails(medicalfile.id)" style="cursor: pointer;">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ medicalfile.user?.first_name }} {{ medicalfile.user?.last_name }}</h5>
                  <h5 class="card-text">{{ medicalfile.identification_number }}</h5>
                  <p class="card-text">{{ medicalfile.created_at | date }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>  
  </div>
  