<nav class="navbar navbar-expand-lg bg-body-tertiary"></nav>
    <div class="container-fluid">
      <img src="images/logo.png" alt="Image 1" class="logo" height="60">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="service">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="profile">A propos</a>
          </li>
          <li class="inscription">
            <a class="nav-link" href="/register">S'inscrire</a>
          </li>
            <!-- <li class="connexion">
            <a class="nav-link" href="#">Se connecter</a>
          </li> -->
        </ul>
        <ul>
        </ul>
      </div>
    </div>
  </nav>
<!-- Affichage dynamique des composants dans la page d'accueil -->
<div class="container mt-4">
    <router-outlet></router-outlet>
  </div>