<div class="dashboard-container">
    <app-patient-header></app-patient-header>

    <div class="main-content">
        <div class="header">
            <!-- <h5>Bon retour Dr {{ userInfo.last_name}} </h5> -->
      
            <div class="profil">
              <!-- <p>{{ userInfo.first_name }} {{ userInfo.last_name}} </p> -->
              <!-- <img *ngIf="userInfo.photo" [src]="userInfo.photo" alt="{{ userInfo.first_name }}" class="photo1" /> -->
            </div>
          </div>
  <main>
    <section class="profile">
      <h2>Profil</h2>
      <p>Nom : Ndeye Yandé Touré</p>
      <p>Date de naissance : 12/12/1990</p>
      <p>Sexe : Féminin</p>
      <p>Adresse : Maristes</p>
      <p>Numéro : 77 777 77 77</p>
      <p>Email : tourendeyegmail.com</p>
    </section>

    <section class="profile">
        <h2>Informations Medicales</h2>
        <p>Poids : 45 kg</p>
        <p>Taille : 165 cm</p>
        <p></p>
        <p>Adresse : Maristes</p>
        <p>Numéro : 77 777 77 77</p>
        <p>Email : tourendeyegmail.com</p>
      </section>

    <section class="next-appointment">
      <h2>Prochain rendez-vous</h2>
      <p>Consultation Pneumologie le 17/09/2024 à 09h 00</p>
      <p>Veuillez rapporter ce ticket pour faire valoir ce que de droit</p>
    </section>
  </main>
</div>
  <!-- <footer>
    <p>CareWell - Dieuppeul 1, Rue 13, Dakar</p>
  </footer> -->
  

</div>