.dashboard-container {
  display: flex; /* Utiliser flexbox pour aligner les éléments côte à côte */
}

app-doctor-sidebar {
  width: 250px; /* Largeur de la sidebar */
  background-color: #ffffff; /* Couleur de fond de la sidebar */
  height: 100vh; /* Hauteur de la sidebar pour couvrir toute la hauteur de la fenêtre */
  position: fixed; /* Fixer la sidebar */
}


.sidebar {
  width: 80px;
  height: 100vh;
  background-color: #2f453e;
  transition: width 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* Sidebar en hover */
.sidebar:hover {
  width: 250px;
}

/* Contenu principal ajustable */
.main-content {
  flex: 1;
  margin-left: 80px; /* Largeur par défaut de la sidebar */
  padding: 20px;
  transition: margin-left 0.3s ease; /* Transition douce */
  background-color: #ffffff;
  margin-top: 50px;
}

/* Ajustement du contenu lorsque la sidebar est en hover */
.sidebar:hover ~ .main-content {
  margin-left: 250px; /* Largeur de la sidebar en mode hover */
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
  }
  
  .toolbar h1 {
    margin: 0;
    font-size: 22px;
  }
  
  .toolbar-buttons {
    display: flex;
    align-items: center;
  }
  .photo1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-right: 10px;
    margin-left: 10px;
    object-fit: cover;
  }
  
  .profil{
    display: flex;
    flex-direction: row;
    align-items: center;

    h2{
      color: #062e59;
      font-size: 16px;
    }
  }
  
  .unread-button, .add-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  
  
  .unread-button .material-icons, .add-button .material-icons {
    font-size: 22px;
  }
  
  .discussions-list {
    list-style-type: none;
    padding: 0;
  }
  
  .discussion-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .discussion-item:hover {
    background-color: #f1f1f1;
  }
  
  .unread-count {
    color: red;
    font-weight: bold;
  }
  
  .no-discussions {
    text-align: center;
  }
  
  .start-discussion-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  p{
    font-size: 14px;
    margin-left: 65px;
    margin-top: -10px;
  }