<div class="dashboard-container">
  <app-patient-header class="sidebar"></app-patient-header>

  <div class="main-content">
    <app-infos-patient class="sidebar"></app-infos-patient>
    
    <div class="banner">
      <img *ngIf="userInfo.photo" [src]="'http://localhost:8000/storage/' + userInfo.photo" alt="{{ userInfo.first_name }}" class="photo" />
      <div class="infos">
        <div class="perso">
          <h6>Nom : {{ userInfo.first_name }} {{ userInfo.last_name}} </h6>
          <p>Adresse : {{ userInfo.adress }}</p>
          <p>Téléphone : {{ userInfo.phone_number }}</p>
          <p>{{ userInfo.email }}</p>
        </div>
      </div>
    </div>

    
    <div class="stats">
      <div class="card-container">
        <div class="card">
          <h6>Rendez-vous aujourd'hui</h6>
          <p>{{ appointmentsStats.today_appointments }}</p>
        </div>
        <div class="card">
          <h6>Total rendez-vous du mois</h6>
          <p>{{ appointmentsStats.total_appointments }}</p>
        </div>
        <div class="card">
          <h6>Rendez-vous complétés</h6>
          <p>{{ appointmentsStats.appointments_completed_today }}</p>
        </div>
      </div>
    </div>
    <div class="chart-container mt-5">
      <canvas id="appointmentsChart"  width="300" height="150"></canvas>
    </div>
    

        <!-- Chatbox -->
        <app-chatbox></app-chatbox>
  </div>
</div>
