<div class="dashboard-container">
    <app-patient-header></app-patient-header>
    <div class="main-content">
      <div class="header">
        <h5>Bienvenue dans le tableau de bord de l'admin</h5>

        <div class="profil">
            <p>Ndeye Yande Toure</p>
            <img src="images/profile.png" alt="" class="avatar" class="photo1">
        </div>
    </div>

      <div class="banner">
        <img src="images/profile.png" alt="" class="photo">
        <div class="infos">
            <div class="perso">
                <h6>Dr.Moussa Sagna</h6>
                <p>Adresse : Medina</p>
                <p>Telephone : 77 777 77 77</p>
                <p>sagnamoussagmail.com</p>
            </div>

            <div class="specialite">
                <h6>Specialite : Pneumologue</h6>
                <p>Grade : Medecin chef</p>
            </div>
        </div>
      </div>

      <div class="cards">
        <div class="card">
                <p>Total rendez-vous</p>
                <h4>60</h4>
        </div>
        <div class="card"><p>Rendez-vous restant</p>
                <h4>06</h4>
        </div>
        <div class="card">
                <p>Total prescriptions</p>
                <h4>60</h4>
        </div>
        <div class="card"><p>Total Examens</p>
                <h4>60</h4>
        </div>
    </div>
    </div>
  </div>
  