<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="images/logo.png" alt="Image 1" class="logo" height="60">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="service">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="profile">A propos</a>
          </li>
          <!-- <li class="inscription">
            <a class="nav-link" href="#">S'inscrire</a>
          </li>
          <li class="connexion">
            <a class="nav-link" href="#">Se connecter</a>
          </li> -->
        </ul>
        <ul>
        </ul>
      </div>
    </div>
  </nav>

    <div class="body">
        <div class="infos">
            <img src="images/profile.png" alt="Image 1" class="imfo">
            <div class="perso">
                <p>Prenom : Ndeye Yande</p>
                <p>Nom : Kouassi</p>
                <p>Date de naissance : 12/03/1998</p>
                <p>Adresse : 123 Rue de la Cité, Paris, France</p>
                <p>Téléphone : 06 12 34 56 78</p>
                <p>Email : ndeye.kouassigmail.com</p>
                <p>Profession : Consultant en pneumologie</p>
                <p>Sexe : Femme</p>
                <p>Soins pratiqués : Pneumologie, Chirurgie plastique</p>
                <p>Dernière consultation : 12/02/2021</p>
                <p>Diagnostic : Patient atteint de maladie pulmonaire chronique</p>
            </div>
        </div>

        <div class="details">
            <div class="ticket">
                <img src="images/logo.png" alt="" height="50px">
                <h6>Ticket de Consultation Pneumologie</h6>
                <p>N° de ticket : 123456</p>
                <p>M.Mle Ndeye Yandé Touré est convié le 17/09/2024 au centre CareWell  à 09h 00</p>
                <p>Veuillez rapporter ce ticket pour faire valoir ce que de droit</p>
                <p>Prix : 5.000 FCFA</p>
            </div>

            <div class="rendez-vous">
                <h5>Prochain Rendez-vous</h5>
                <div class="tickets">
                    <div class="card-header">

                    </div>
                    <div class="card-content">
                        <p>Consultation Pneumologie          le 20/08/2024     09h 35</p>
                        <p> Statut : Annule</p>
                       
                    </div>
                </div>

                <div class="tickets">
                    <div class="card-header">

                    </div>
                    <div class="card-content">
                        <p>Consultation Pneumologie          le 20/08/2024     09h 35</p>
                        <p> Statut : Annule</p>
                       
                    </div>
                </div>

                <div class="tickets">
                    <div class="card-header">

                    </div>
                    <div class="card-content">
                        <p>Consultation Pneumologie          le 20/08/2024     09h 35</p>
                        <p> Statut : Annule</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>