.body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .navbar-nav .nav-link.active {
    color: #09a84c;
    font-weight: bold;
}

  .container-fluid{
    background-color: white;
    padding-left: 15%;
  }
  .connexion{
    margin-left: 1;
    font-size: 18px;
  }
  .connexion:hover{
    a{
        color: #09a84c;
    }
  }
  .inscription{
    margin-left: 200px;
    font-size: 18px;
  }
  .inscription:hover{

    a{
        color: #09a84c;
    }
  }
  .navbar-nav{
    margin-left: 100px;
    font-size: 20px;


    a{
        color: #1F2B6C;
        font-family: merriweather;
        margin-left: 50px;
    }
    .nav-item{
        a:hover{
            color: #09a84c;
        }
    }

  }

  .infos{
    border: 1px #000;
    height: auto;
    width: 35%;
    box-shadow: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre autour des blocs */
  }

.perso{
    margin-top: 30px;
    font-family: merriweather;
    font-weight: 500;
}


  /* Style général du body */
body {
    background-color: #ffffff;

}

.navbar {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre sous la barre de navigation */
    padding: 10px 0;
}

/* Box shadow pour la section infos */
.infos {
    background-color: white;
    padding: 20px;
    margin: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.399); /* Ombre autour de la section */
    height: auto;
}

.details {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.tickets{
    border-bottom: 1px solid #0000004e;
    margin-top: 10px;
}
.card-header{
    height: 10px;
    background-color: #09a84c;
}
.card-content{
    padding: 10px;
}
.ticket{
    background-color: #f8f7f734;
    padding: 20px;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.412); /* Ombre autour des blocs */
    margin: 40px;
    p{
        font-family: merriweather;
        font-weight: 500;
        padding: 5px;
    }
}

/* Box shadow pour chaque bloc de détails (ticket, rendez-vous) */

.details .rendez-vous {
    background-color: white;
    padding: 20px;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.443); /* Ombre autour des blocs */
    margin-left: 40px;
}

.ticket h3,
.rendez-vous h3 {
    margin-top: 0;
}

/* Responsiveness */
@media (max-width: 768px) {
    .details {
        flex-direction: column;
        align-items: center;
    }

    .details .ticket,
    .details .rendez-vous {
        width: 100%;
        margin-bottom: 20px;
    }
}
