<div class="dashboard-container">
    <app-admin-sidebar></app-admin-sidebar>
    <div class="main-content container mt-4">
      <div class="appointments-list container mt-5">
        <h2 class="text-center mb-4 text-primary">Liste des rendez-vous</h2>
      
        <div class="row">
          <div class="col-md-12" *ngFor="let appointment of appointments" [ngClass]="getAppointmentClass(appointment.date)">
            <div class="appointment-card">
              <div class="appointment-info">
                <p><strong>Nom:</strong> {{ appointment.user.first_name }} {{ appointment.user.last_name }}</p>
                <p><strong>Service:</strong> {{ appointment.service.name }}</p>
                <p><strong>Date:</strong> {{ appointment.date | date: 'fullDate' }}</p>
                <p><strong>Heure:</strong> {{ appointment.time }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>