
.banner{
    background-image: url('/images/banner2.jpg');
    background-size: cover;
    background-position: center;
    height: 640px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur noire avec 50% d'opacité */
    background-blend-mode: darken; /* Mélange la couleur de fond avec l'image */
    font-family: merriweather;
    .text{
        border-left: 10px solid #09a84c;
        height: 200px;
        padding-left: 10px;
        font-weight: bold;
        color: white;
        padding-top: 20px;
        h3{
            color: white;
            font-size: 26px;
        }

    }
    .btn-banner{
        background-color: #09a84c;
        color: white;
        font-size: 18px;
        margin-top: 50px;
        margin-bottom: 10px;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .images{
        margin-left: 90px;
    }
  }

  .infos{
    margin-top: -55px;
  }

  .a-propos{
    display: flex;
    flex-direction: column;
  }

  .us{
    display: flex;
    flex-direction: column;
  }
  .deco1{
    margin-left: 85%;
    margin-top: 15px;
  }