.body {
    background-size: cover; /* Ajuste l'image pour couvrir tout l'arrière-plan */
    background-position: center; /* Centre l'image */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .navbar-nav .nav-link.active {
    color: #09a84c;
    font-weight: bold;
}

  .container-fluid{
    background-color: white;
    padding-left: 15%;
  }
  .connexion{
    margin-left: 1;
    font-size: 18px;
  }
  .connexion:hover{
    a{
        color: #09a84c;
    }
  }
  .inscription{
    margin-left: 200px;
    font-size: 18px;
  }
  .inscription:hover{

    a{
        color: #09a84c;
    }
  }
  .navbar-nav{
    margin-left: 100px;
    font-size: 20px;


    a{
        color: #1F2B6C;
        font-family: merriweather;
        margin-left: 50px;
    }
    .nav-item{
        a:hover{
            color: #09a84c;
        }
    }

  }