.dashboard-container {
    display: flex; 
  }
  
  app-patient-header {
    width: 250px; 
    background-color: #ffffff; 
    height: 100vh; 
    position: fixed;
  }
  

  .sidebar {
    width: 80px;
    height: 100vh;
    background-color: #2f453e;
    transition: width 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  /* Sidebar en hover */
  .sidebar:hover {
    width: 250px;
  }
  
  /* Contenu principal ajustable */
  .main-content {
    flex: 1;
    margin-left: 80px; /* Largeur par défaut de la sidebar */
    padding: 20px;
    transition: margin-left 0.3s ease; /* Transition douce */
    background-color: #ffffff;
  }
  
  /* Ajustement du contenu lorsque la sidebar est en hover */
  .sidebar:hover ~ .main-content {
    margin-left: 250px; /* Largeur de la sidebar en mode hover */
  }
  
  .modal-body img {
    width: 50%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .modal-body h6 {
    font-weight: bold;
    color: #03284f;
    font-weight: bold;

  }

  .modal-body{
    border-radius: 8px;
    justify-content: justify;
    font-size: 16px;
    color: #333333e8;
    line-height: 1.6;
    padding: 15px; 
    margin-bottom: 20px;
    width: 80%;
    height: auto;
    background-color: #a4a9a81d; 
    transition: transform 0.2s;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .head{

    display: flex;
    flex-direction: row;
    h5{
        margin-top: 140px;
        padding-left: 80px;
        color: #03284f;
        font-size: 28px;
        font-weight: bold;
    }
  }