/* patient-sidebar.component.css */
.sidebar {
    background-color: #f0f8ff; /* Couleur de fond pour le patient */
    padding: 15px;
  }
  .sidebar a {
    color: #007bff; /* Couleur des liens */
  }
  