<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/maki-icons@latest/dist/maki.css">
    <title>Sidebar du docteurs</title>
</head>
<body>
    <div class="sidebar">
        <img src="images/logo.png" alt="" class="logo">
        <ul>
            <li>
                <span class="material-icons icon">home</span>
                <a routerLink="/doctor/dashboard">Tableau de bord</a>
            </li>
            <li>
                <span class="material-symbols-outlined icon"> schedule </span>
                <a routerLink="/patients">Rendez-vous</a>
            </li>
            <li>
                <span class="material-symbols-outlined icon">description </span>
                <a routerLink="/doctor/appointments">Dossiers Medicaux</a>
            </li>
            <li>
                <span class="material-symbols-outlined icon">chat </span>                
                <a routerLink="/doctor/reports">Discussions</a>
            </li>
            <li>
                <span class="material-symbols-outlined icon">stethoscope</span>
                <a routerLink="/doctor/doctor-profile">Docteur</a>
            </li>
            <li>
                <span class="material-symbols-outlined icon">person</span>
                <a routerLink="/doctor/doctor-profile">Patients</a>
            </li>
        </ul>
    </div>
</body>
</html>
