<div class="sidebar">
    <img src="images/logo.png" alt="" class="logo">
    <ul>
        <li routerLinkActive="active">
            <span class="material-icons icon">home</span>
            <a routerLink="/dashboard/doctor">Tableau de bord</a>
        </li>
        <li routerLinkActive="active">
            <span class="material-symbols-outlined icon">schedule</span>
            <a routerLink="/doctor/appointment">Rendez-vous</a>
        </li>
        <li routerLinkActive="active">
            <span class="material-symbols-outlined icon">description</span>
            <a routerLink="/doctor/medicalfile">Dossiers Médicaux</a>
        </li>
        <li routerLinkActive="active">
            <span class="material-symbols-outlined icon">chat</span>                
            <a routerLink="/doctor/patients">Patients</a>
        </li>
        <li routerLinkActive="active">
            <span class="material-symbols-outlined icon">stethoscope</span>
            <a routerLink="/doctor/availability">Disponibilités</a>
        </li>
        <li routerLinkActive="active">
            <span class="material-symbols-outlined icon">person</span>
            <a routerLink="/doctor/patient">Patients</a>
        </li>
    </ul>
    <button color="danger" > Deconnexion</button>

</div>
