.body {
    background-size: cover; /* Ajuste l'image pour couvrir tout l'arrière-plan */
    background-position: center; /* Centre l'image */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .navbar-nav .nav-link.active {
    color: #09a84c;
    font-weight: bold;
}

  .container-fluid{
    background-color: white;
    padding-left: 15%;
  }
  .connexion{
    margin-left: 1;
    font-size: 18px;
  }
  .connexion:hover{
    a{
        color: #09a84c;
    }
  }
  .inscription{
    margin-left: 200px;
    font-size: 18px;
  }
  .inscription:hover{

    a{
        color: #09a84c;
    }
  }
  .navbar-nav{
    margin-left: 100px;
    font-size: 20px;


    a{
        color: #1F2B6C;
        font-family: merriweather;
        margin-left: 50px;
    }
    .nav-item{
        a:hover{
            color: #09a84c;
        }
    }

  }
  .banner{
    background-image: url('/images/banner9.jpg');
    background-size: cover;
    background-position: center;
    height: 640px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.619);
    background-blend-mode: darken;
    font-family: merriweather;
    .text{
        border-left: 10px solid #09a84c;
        height: 250px;
        padding-left: 10px;
        font-weight: bold;
        color: white;
        padding-top: 20px;
        h3{
            color: white;
            font-size: 26px;
        }

    }
    .btn-banner{
        background-color: #09a84c;
        color: white;
        font-size: 18px;
        margin-top: 50px;
        margin-bottom: 10px;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .images{
        margin-left: 90px;
    }
  }

  .infos{
    margin-top: -55px;
  }

  .a-propos{
    display: flex;
    flex-direction: column;
  }

  .us{
    display: flex;
    flex-direction: column;
  }
  .deco1{
    margin-left: 85%;
    margin-top: 15px;
  }
  

h4{
    color: #43AA12;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: -30px;
    }
    .services{

        display: flex;
        justify-content: center;
        .cards{
            display: flex;
            width: 98%;
            margin-bottom: 70px;

          }
          .card{
            margin: 20px;
            width: 250px;
        }
    }
    .cards{
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
      .medecins{
        display: flex;
        justify-content: center;
        .cards{
            display: flex;
            width: 98%;
            margin-bottom: 70px;
          }
          .card{
            margin: 20px;
            width: 190px;
        }
        }
        .maladies{
            display: flex;
            justify-content: center;
            margin-bottom: 70px;
            .cards{
                display: flex;
                width: 98%;
              }
              .card{
                margin: 20px;
                width: 190px;
            }
            }    
    p{
    color: #000000a7;
    font-weight: bold;
    font-size: 15px;
    }
    
    .boutton-rv{
      height: 40px;
      width: 100%;
      background-color: #43AA12;
      font-size: 15px;
      font-weight: bold;
      border-radius: 5px;
      border: #43AA12;
      color: white;
    }
    .boutton{
      height: 35px;
      width: 100%;
      background-color: #1245aa;
      color: white;
      font-size: 15px;
      font-weight: bold;
      border-radius: 5px;
      border: none;
    }

    .temoignages {
      background-color: #ffffff; 
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .temoignage h5 {
      font-weight: bold;
      color: #343a40; 
  }
  .temoignage p {
      font-style: italic; 
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
      background-color: #007bff;
      border-radius: 50%;
  }
    .card-header{
        margin-top: 10px;
        background-color: #ffffff;
        h5{
          font-size: 18px;
          font-weight: bold;
          text-align: center;
        }
    }
    .card-bleu{
      height: 250px;
      background-color: #0073d179;
      width: 1000px;
    }
    .card-white{
      height: 200px;
      background-color: #ffffff;
      p{
        color: #0000009c;
        font-size: 16px;
        margin-top: 25px;
        margin: 15px;
      }
    }

.image{
  height: 200px;
}

.missions{
  margin: 100px;
}

.banner2{
  background-image: url('/images/medecins.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(12, 11, 11, 0.701);
  background-blend-mode: darken;
  font-family: merriweather;
  margin-top: 10px;
  .text{
      background-color: #224f4a82;
      width: 600px;
      height: 300px;
      text-align: center;
      font-weight: bold;
      color: white;
      padding-top: 20px;
      padding: 20px;
      color: white;
      h3{
          color: white;
          font-size: 26px;
      }
      h6{
        font-size: 18px;
      }
  }
  .btn-banner{
      background-color: #09a84c;
      color: white;
      font-size: 18px;
      margin-top: 50px;
      margin-bottom: 10px;
      padding-left: 18px;
      padding-right: 18px;
      padding-top: 10px;
      padding-bottom: 10px;
  }

  .images{
      margin-left: 90px;
  }
}

.footer{
  background-color: #224f4a;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 15px;

  p{
    color: #ffffff;
  }
}

    /* Pour les écrans plus petits (téléphones) */
@media (max-width: 767px) {
    .navbar-nav {
        margin-left: 0; /* Aligner les éléments correctement */
    }
    

    .inscription, .connexion {
        margin-left: 0; /* Annuler les marges sur petits écrans */
        font-size: 16px;
    }

    .banner {
        height: 400px; /* Ajuster la hauteur de la bannière pour les petits écrans */
        .images{
            display: none;
        }
    }

    .services .cards, 
    .medecins .cards, 
    .maladies .cards {
        flex-direction: column; /* Empiler les cartes sur petits écrans */
        width: 100%;
    }

    .card {
        width: 100%; /* Les cartes prennent la largeur complète */
    }

    .temoignages {
        flex-direction: column; /* Empiler les témoignages sur petits écrans */
        width: 100%;
    }

    .temoignages .card {
        width: 100%; /* Les cartes de témoignage prennent toute la largeur */
    }
}



/* Pour les écrans moyens (tablettes) */
@media (min-width: 768px) and (max-width: 1174px) {
    .navbar-nav {
        margin-left: 0; /* Aligner les éléments correctement */
    }
    

    .inscription, .connexion {
        margin-left: 0; /* Annuler les marges sur petits écrans */
        font-size: 16px;
    }

    .banner {
        height: 500px; /* Ajuster la hauteur de la bannière pour les petits écrans */
        .text{
            h3{
                font-size: 24px;
            }
        }

        .images{
            display: none;
        }

    }

    .infos{
        width: 90%;
    }
    .services .cards, 
    .medecins .cards, 
    .maladies .cards {
        flex-direction: row;
        flex-wrap: wrap; /* Afficher plusieurs cartes par ligne */
        justify-content: center;
    }

    .card {
        width: 45%; /* Les cartes prennent 45% de la largeur de l'écran */
    }

    .temoignages {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .temoignages .card {
        width: 45%; /* Les cartes de témoignage prennent 45% de la largeur */
    }
}



.banner h3 {
    font-size: 22px;
}

@media (max-width: 767px) {
    .banner h3 {
        font-size: 18px; /* Réduire la taille du texte pour les petits écrans */
    }

    .btn-banner {
        font-size: 14px; /* Ajuster la taille du bouton de la bannière */
    }
}

