<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="images/logo.png" alt="Logo" class="logo" height="60">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/articles" [class.active]="currentSection === 'service'" (click)="setActiveSection('service')">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/services" [class.active]="currentSection === 'article'" (click)="setActiveSection('article')">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts" [class.active]="currentSection === 'article'" (click)="setActiveSection('article')">Contact</a>
          </li>
          <li class="inscription">
            <a class="nav-link" href="/register">S'inscrire</a>
          </li>
          <li class="connexion">
            <a class="nav-link" href="/login">Se connecter</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="body">
    <div class="banner" id="banner">
      <div class="text">
        <h3>Un esprit sain dans un corps sain</h3>
        <p>Prenez soin de votre santé avec l'application CareWell, une prise de rendez-vous rapide pour une prise en charge de qualité. Confiez votre santé à nos professionnels diplômés et avec plus de 5 ans d'expérience</p>
        <button class="btn btn-banner">Prendre rendez-vous</button>
      </div>
      <div class="images">
        <!-- <img src="images/banner.png" alt="Banner Image"> -->
      </div>
    </div>

    <div class="infos">
      <img src="images/infos.png" alt="Info Image" class="info">
    </div>

    <img src="images/deco.png" alt="Decoration Image" class="deco1">
      <h4>Catégories de Services</h4>
      <p>Trouvez ci-dessous les services que nous avons au sein de notre application.</p>
      <div class="services">
        <div class="cards">
          <ng-container *ngFor="let service of services; let i = index">
            <div *ngIf="i < 8" class="card">
              <img *ngIf="service.photo" [src]="service.photo" alt="{{ service.name }}" class="image" />
              <div class="card-header">
                <h5>{{ service.name }}</h5>
                <p>{{ limitWords(service.description) }}</p>                 
              </div>
              <a href="login"> <button class="boutton-rv">  Prendre rendez-vous</button></a>
            </div>
          </ng-container>
        </div>
      </div>
      

      <h4>Catégories de Services</h4>

    <div class="banner2" id="banner">
      <div class="text">
        <h2>À propos de CareWell</h2>
        <h6>Carewell est une application de la clinique La Croix Bleue qui offre un espace totalement digitalise.
          Creee en 1990, la clinique Croix bleue a pris en charge plus de 30.000 malades et est classee dans le top 10 des meilleurs centres de sante au senega
        </h6> 
      </div>
    </div>

    <img src="images/deco.png" alt="Decoration Image" class="deco1">

    <section class="missions text-center">
      <h4>Nos Missions</h4>
      <p>À CareWell, nous nous engageons à offrir des soins de santé de qualité et accessibles à tous.</p>
      <div class="row">
          <div class="col-md-4">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Accessibilité</h5>
                      <p class="card-text">Assurer que chaque patient puisse accéder aux soins dont il a besoin.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Qualité des Soins</h5>
                      <p class="card-text">Fournir des soins de santé de la plus haute qualité, avec compassion et respect.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Innovation</h5>
                      <p class="card-text">Intégrer les dernières technologies pour améliorer l'expérience patient.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <h4>Decouvrez Nos arrticles</h4>
  <p>Trouvez ci-dessous les articles que nous rédigeons pour vous permettre de mieux comprendre les maladies et recevoir des conseils.</p>

  <div class="services">
    <div class="cards">
      <ng-container *ngFor="let article of articles; let i = index">
        <div *ngIf="i < 8" class="card">
          <img *ngIf="article.photo" [src]="article.photo" alt="{{ article.title }}" class="image" />
          <div class="card-header">
            <h5>{{ article.title }}</h5>
            <p>{{ limitWords(article.content) }}</p>                 
          </div>
          <button  (click)="goToArticleDetails(article.id)" class="boutton ">Consulter</button>
        </div>
      </ng-container>
    </div>
  </div>

      <h4>Nos Médecins</h4>
      <p>Trouvez ci-dessous nos médecins et prenez rendez-vous avec eux.</p>
      <div class="medecins">
        <div class="cards">
          <ng-container *ngFor="let user of users; let i = index">
            <div *ngIf="i < 8" class="card">
              <img *ngIf="user.photo" [src]="user.photo" alt="{{ user.first_name }} {{ user.last_name }}" class="image" />
              <div class="card-header">
                <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                <p>{{ user.service.name }}</p>
              </div>
              <button class="boutton">Consulter</button>
              <p>Créé le : {{ user.created_at | date:'short' }}</p>
            </div>
          </ng-container>
        </div>
      </div>

    <img src="images/deco.png" alt="Decoration Image" class="deco1">

    <!-- Témoignages Section avec Slider -->
    <section id="temoignages" class="py-5">
      <h4 class="text-center mb-4">Témoignages</h4>
      <div id="temoignagesCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="temoignage text-center">
              <div class="card-bleu p-4">
                <div class="card-white p-3">
                  <h5>Sophiatou Mendy</h5>
                  <p>“Une expérience inoubliable, cette application m’a beaucoup aidé dans la prise de rendez-vous et le suivi de mon dossier médical. Un grand merci à CareWell.”</p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="temoignage text-center">
              <div class="card-bleu p-4">
                <div class="card-white p-3">
                  <h5>Fatou Diop</h5>
                  <p>“CareWell a vraiment amélioré ma gestion de la santé. J'apprécie énormément la rapidité pour prendre des rendez-vous et accéder à mes dossiers médicaux.”</p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="temoignage text-center">
              <div class="card-bleu p-4">
                <div class="card-white p-3">
                  <h5>Alioune Sow</h5>
                  <p>“Je recommande CareWell à tout le monde. Le suivi personnalisé m'a permis d'avoir une vue claire de mes consultations et prescriptions.”</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#temoignagesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#temoignagesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <!-- Bouton flottant -->
    <a href="#" class="float-button">Urgences</a>
    
    <div class="questions">
      <!-- Ajoutez ici le contenu ou les éléments que vous souhaitez -->
    </div>
  </div>
  <footer style=" color: #fff; padding: 20px;" class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>CAREWELL</h3>
          <p>Prenez soin de votre santé avec CareWell</p>
        </div>
  
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Call: (221) 33-888-88-98</p>
          <p>Email: carewellgmail.com</p>
          <p>Address: Dieuppeul 1, rue 13, Dakar Sénégal</p>
        </div>
  
        <div class="col-md-3">
          <h5>Newsletter</h5>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Entrez votre adresse email">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" style="background-color: #4F3FC3; border-color: #4F3FC3;">
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
  
      <hr style="border-color: #fff; margin-top: 20px;">
  
      <div class="d-flex justify-content-between align-items-center">
        <p>&copy; 2024 CareWell All Rights Reserved by CWSA</p>
        <div>
          <a href="#" style="color: #fff; margin-right: 10px;"><i class="fab fa-linkedin"></i></a>
          <a href="#" style="color: #fff; margin-right: 10px;"><i class="fab fa-instagram"></i></a>
          <a href="#" style="color: #fff;"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </footer>
  


<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true" [ngClass]="{ 'show': isDetailsModalOpen }" [style.display]="isDetailsModalOpen ? 'block' : 'none'">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModalLabel">{{ selectedArticle?.title }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDetailsModal()"></button>
      </div>
      <div class="modal-body">
        <img *ngIf="selectedArticle?.photo" [src]="selectedArticle.photo" alt="{{ selectedArticle.title }}" class="img-fluid mb-3" />
        <h6>Description :</h6>
        <p>{{ selectedArticle?.content }}</p>

        <h6>Symptomes :</h6>
        <p>{{ selectedArticle?.symptoms}} </p>

        <h6>Conseils :</h6>
        <p>{{ selectedArticle?.advices}} </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDetailsModal()">Fermer</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
