.body {
    background-size: cover; /* Ajuste l'image pour couvrir tout l'arrière-plan */
    background-position: center; /* Centre l'image */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner{
    background-image: url('/images/banner2.jpg');
    background-size: cover;
    background-position: center;
    height: 640px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur noire avec 50% d'opacité */
    background-blend-mode: darken; /* Mélange la couleur de fond avec l'image */
    .text{
        border-left: 10px solid #09a84c;
        height: 200px;
        padding-left: 10px;
        font-weight: bold;
        color: white;
        padding-top: 20px;

    }
    .btn-banner{
        background-color: #09a84c;
        color: white;
        font-size: 18px;
        margin-top: 50px;
        margin-bottom: 10px;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .images{
        margin-left: 180px;
    }
  }

  .infos{
    margin-top: -55px;
  }

  .deco1{
    margin-left: 88%;
    margin-top: 15px;
  }

h4{
    color: #43AA12;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: -30px;
    }
    .services{

        display: flex;
        justify-content: center;
        .cards{
            display: flex;
            width: 100%;
          }
          .card{
            margin: 20px;
            width: 250px;
        }
    }
      .medecins{
        display: flex;
        justify-content: center;
        .cards{
            display: flex;
            width: 100%;
          }
          .card{
            margin: 20px;
            width: 190px;
        }
        }
        .maladies{
            display: flex;
            justify-content: center;
            .cards{
                display: flex;
                width: 100%;
              }
              .card{
                margin: 20px;
                width: 190px;
            }
            }    
    p{
    color: #00000083;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    }
    
    .boutton-rv{
      height: 40px;
      width: 100%;
      background-color: #43AA12;
      font-size: 15px;
      font-weight: bold;
      border-radius: 5px;
      border: #43AA12;
      color: white;
    }
    .boutton{
      height: 35px;
      width: 100%;
      background-color: #1245aa;
      color: white;
      font-size: 15px;
      font-weight: bold;
      border-radius: 5px;
      border: none;
    }
    .image{
      width: 100%;
    }
    .temoignage{
      justify-content: space-between;
      align-items: center;
      margin-top: 100px;
    }
    .temoignages{
        display: flex;
        width: 70%;
        justify-content: center;
        justify-content: space-between;
        margin-bottom: 50px;
      h4{
        text-align: center;
        margin-top: 50px;
      }
    }
    .card-bleu{
      height: 115px;
      background-color: #0072D1;
      width: 450px;
    }
    .card-white{
      height: 135px;
      background-color: #ffffff;
      margin-top: -20px;
      width: 90%;
      margin-left: 5%;
      p{
        color: #0000009c;
        font-size: 16px;
        margin-top: 25px;
        margin: 15px;
      }
    }
