<div class="dashboard-container">
    <app-admin-sidebar></app-admin-sidebar>
    <div class="main-content">
        <div class="header">
            <h5>Bienvenue dans le tableau de bord de l'admin</h5>

            <div class="profil">
                <p>Ndeye Yande Toure</p>
                <img src="images/profile.png" alt="" class="avatar" class="photo">
            </div>
        </div>
        <div class="cards">
            <div class="card">
                    <p>Nombre de tickets</p>
                    <h4>60</h4>
            </div>
            <div class="card">
                    <p>Nombre de Docteurs</p>
                    <h4>60</h4>
            </div>
            <div class="card">
                    <p>Nombre de Secretaires</p>
                    <h4>60</h4>
            </div>
            <div class="card">
                    <p>Nombre de tickets vendus</p>
                    <h4>60</h4>
            </div>
        </div>

        <div class="cards">
            <div class="card">
                    <p>Nombre de Patients</p>
                    <h4>60</h4>
            </div>
            <div class="card">
                    <p>Nombre de comptes</p>
                    <h4>60</h4>
            </div>
            <div class="card">
                    <p>Nombre de rendez-vous</p>
                    <h4>60</h4>
            </div>
            <div class="card">
                    <p>Nombre de d'Examens</p>
                    <h4>60</h4>
            </div>
        </div>
    </div>
  </div>
  