.body {
    background-size: cover; /* Ajuste l'image pour couvrir tout l'arrière-plan */
    background-position: center; /* Centre l'image */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .navbar-nav .nav-link.active {
    color: #09a84c;
    font-weight: bold;
}

  .container-fluid{
    background-color: white;
    padding-left: 15%;
  }
  .connexion{
    margin-left: 1;
    font-size: 18px;
  }
  .connexion:hover{
    a{
        color: #09a84c;
    }
  }
  .inscription{
    margin-left: 200px;
    font-size: 18px;
  }
  .inscription:hover{

    a{
        color: #09a84c;
    }
  }
  .navbar-nav{
    margin-left: 100px;
    font-size: 20px;


    a{
        color: #1F2B6C;
        font-family: merriweather;
        margin-left: 50px;
    }
    .nav-item{
        a:hover{
            color: #09a84c;
        }
    }

  }

.dashboard-container {
    display: flex; /* Utiliser flexbox pour aligner les éléments côte à côte */
  }
  
app-admin-sidebar {
  width: 250px; /* Largeur de la sidebar */
  background-color: #ffffff; /* Couleur de fond de la sidebar */
  height: 100vh; /* Hauteur de la sidebar pour couvrir toute la hauteur de la fenêtre */
  position: fixed; /* Fixer la sidebar */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.main-content {
  flex: 1; /* Prendre tout l'espace restant */
  overflow-y: auto; /* Permettre le défilement vertical */
  background-color: #ffffff; /* Couleur de fond du contenu principal */
  padding: 20px; 
}


    .cards{
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
        .maladies{
            display: flex;
            justify-content: center;
            margin-bottom: 70px;
              .card{
                margin: 20px;
                width: 250px;
            }
            }    
    p{
    color: #000000a7;
    font-weight: bold;
    font-size: 15px;
    }
    
    .boutton{
      height: 35px;
      width: 100%;
      background-color: #1245aa;
      color: white;
      font-size: 15px;
      font-weight: bold;
      border-radius: 5px;
      border: none;
    }


    .card-header{
        margin-top: 10px;
        background-color: #ffffff;
        h5{
          font-size: 18px;
          font-weight: bold;
          text-align: center;
        }
    }

.image{
  height: 250px;
  object-fit: cover;
}
